p{
  display: inline;
}

body{
  background-color: #eee;
  font-family: Roboto, sans-serif;
}

.cardcont{
  display: inline;
}

.card{
  padding: 5px;
  background-color: #fff;
  border-radius: 12px;
  width: 300px;
  height: 300px;
  display: inline-block;
}

h1{
  font-weight: 800;
}

