@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
font-family: Roboto, sans-serif;

h1{
font-size: 60px;
font-weight: 700;
}

h2{
font-size: 32px;
font-weight: 300;  
}
  
h3{
font-size: 40px;
font-weight: 300;  
}
  
p{
font-size: 14px;
font-weight: 400;
}  

.half{
display: inline-block;
width:45%vw;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
