class{
  background-color: #eee;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

student{
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

name{
  font-size 20px;
  display: block;
}

age, sex, address, marks{
  display: block;
}
